<a href="https://colab.research.google.com/github/Rguarnizo/Ensena-Me/blob/master/TransmilenioMVA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#MoviliApp Y Transmilenio

## Datos Estaciones y Rutas.

###Importar librerias utiles

In [1]:
import pandas as pd
import numpy as np

### Primera Carga de datos
***
Se encuentran algunos enlaces para la obtención de datos de rutas y estaciones de transmilenio en la página de 
[datos abiertos de Colombia](https://www.datos.gov.co/).

Se obtiene la información de las rutas en la pagina de [datos abiertos de Transmilenio](https://datosabiertos-transmilenio.hub.arcgis.com/search), se observa que se tiene una alianza o una especie de afiliación con [ARCGIS](https://www.arcgis.com/index.html) sub servicio que presta la compañia [ESRI](https://www.esri.com/es-es/home).

In [2]:
#Carga de datos obtenidos de csv.

Rutas = pd.read_csv("/content/drive/My Drive/UniversidadNacional/2020-1CuartoSemestre/EstructurasDeDatos/Data Structures MoviliApp/Datos/Rutas_Troncales_de_TRANSMILENIO.csv")
Estaciones = pd.read_csv("/content/drive/My Drive/UniversidadNacional/2020-1CuartoSemestre/EstructurasDeDatos/Data Structures MoviliApp/Datos/Estaciones_Troncales_de_TRANSMILENIO.csv")

In [3]:
Rutas

     objectid  ... st_length(shape)
0           1  ...     10173.328001
1           2  ...     31219.534774
2           3  ...     22363.274654
3           6  ...      7867.140501
4           7  ...     12084.823846
..        ...  ...              ...
103       116  ...     15335.556452
104       117  ...     27549.481822
105       118  ...     19174.260499
106       119  ...     22587.391916
107       120  ...     31650.959843

[108 rows x 10 columns]

In [4]:
Estaciones

     objectid  ...                                globalid
0           1  ...  {D804EEAA-1DFA-41B9-8EA7-4C5C728E7AC1}
1           2  ...  {182C5CE1-0696-47CA-8EB8-40E45A851D42}
2           3  ...  {D51603ED-7B42-48F9-A729-98A88E48C3CA}
3           4  ...  {43A41E08-B32C-458F-B86F-76D19888C696}
4           5  ...  {893AC347-B878-48AD-A615-F94C152AFF8C}
..        ...  ...                                     ...
144       145  ...  {1282A081-32B9-47F1-9E6E-880DA10D7440}
145       146  ...  {82510740-6123-44A5-860A-30C4A63D9617}
146       147  ...  {C1A7183F-2271-4DA4-BF68-D7656692280E}
147       148  ...  {4F280485-DDAB-4835-BCB9-BAA6DD6B4D7D}
148       149  ...  {80AC961D-9AE5-44E7-AA30-4329A3BDF607}

[149 rows x 16 columns]

In [5]:
#Transformación a Json, para introducirlas en la Aplicación.

Rutas.to_json("RutasTransmilenio.json",orient='records') # orient='records' => Se utiliza para guardar en un Json, cada columna será un Objeto JSON 

Estaciones.to_json("EstacionesTransmilenio.json",orient='records')

In [6]:
#Se extrae información de relevancia para un primer avance.

Estaciones = Estaciones[["nombre_estacion","numero_vagones_estacion","numero_accesos_estacion","latitud_estacion","longitud_estacion"]]
Estaciones

      nombre_estacion  ...  longitud_estacion
0           Calle 106  ...         -74.056147
1    Portal del Norte  ...         -74.045965
2       AV. El Dorado  ...         -74.079769
3         Pepe Sierra  ...         -74.055313
4             Mazurén  ...         -74.048970
..                ...  ...                ...
144     Puente Aranda  ...         -74.104614
145     San Victorino  ...         -74.076854
146     Ciudad Jardín  ...         -74.090428
147         Policarpa  ...         -74.086550
148              Bosa  ...         -74.179184

[149 rows x 5 columns]

In [7]:
Estaciones.to_json("EstacionesFiltradas.json",orient='records')
Rutas

     objectid  ... st_length(shape)
0           1  ...     10173.328001
1           2  ...     31219.534774
2           3  ...     22363.274654
3           6  ...      7867.140501
4           7  ...     12084.823846
..        ...  ...              ...
103       116  ...     15335.556452
104       117  ...     27549.481822
105       118  ...     19174.260499
106       119  ...     22587.391916
107       120  ...     31650.959843

[108 rows x 10 columns]

In [8]:
Rutas = Rutas[["route_name_ruta_troncal","origen_ruta_troncal","destino_ruta_troncal"]]

In [9]:
Rutas.to_json("RutasTM.json",orient='records')

### Segunda Carga de datos
***

Se observa que no es suficiente información para poder mostrar de una manera informativa al usuario por lo que se busca nuevamente una fuente que nos brinde las estaciones como las rutas de esa estacion, y también las rutas como las paradas de esas rutas.

Se encuentra de manera similar al primer caso un dataSet que puede ser de ayuda.

In [10]:
RutasEstacionesTM = pd.read_csv("/content/drive/My Drive/Colab Notebooks/Datos/RutasEstacionesTM.csv",encoding='latin1')

In [11]:
RutasEstacionesTM

                 Línea                     Ruta  ...  Posición    Tipo Servicio
0             [1] C15_  [1587] H15 Portal Tunal  ...         0      [1] TRONCAL
1             [1] C15_  [1587] H15 Portal Tunal  ...      5105      [1] TRONCAL
2             [1] C15_  [1587] H15 Portal Tunal  ...      5702      [1] TRONCAL
3             [1] C15_  [1587] H15 Portal Tunal  ...      7256      [1] TRONCAL
4             [1] C15_  [1587] H15 Portal Tunal  ...      8923      [1] TRONCAL
...                ...                      ...  ...       ...              ...
3278  [202]  16-8FRANC           [1630] 16-8_V3  ...      8344  [4] ALIMENTADOR
3279  [202]  16-8FRANC           [1630] 16-8_V3  ...      8680  [4] ALIMENTADOR
3280  [202]  16-8FRANC           [1630] 16-8_V3  ...      9077  [4] ALIMENTADOR
3281  [202]  16-8FRANC           [1630] 16-8_V3  ...     14655  [4] ALIMENTADOR
3282  [202]  16-8FRANC           [1630] 16-8_V3  ...     14735  [4] ALIMENTADOR

[3283 rows x 6 columns]

In [12]:
#Eliminación Columnas (Atributos) no necesarios.

DataSetTM = RutasEstacionesTM.drop(columns=['Tipo Servicio','Nodo','Línea']);

### Manipulación y Transformacion de datos
***
Este nuevo dataSet tiene los datos necesarios pero hay que realizar algunas transformaciones a estos. Eso es lo que se hará a continuación:

In [13]:
#Agrupación por Estaciones, se enlistan las rutas de cada estación.

EstacionesListRutasTM = DataSetTM.groupby('Nombre Nodo',as_index=False).agg(list);
EstacionesListRutasTM

                         Nombre Nodo  ...                      Posición
0     003A11_AV. Boyaca - CL 60A Sur  ...                        [1325]
1                  004A10_Br. Inglés  ...                        [2513]
2                          005A10_ET  ...                        [1788]
3                             006A03  ...                        [6684]
4                             006A08  ...                        [3046]
...                              ...  ...                           ...
1735                Virrey C - 4 ó 6  ...  [20285, 21622, 13042, 10737]
1736           Zona Industrial A - 2  ...                       [10579]
1737           Zona Industrial A - 3  ...                 [22363, 5301]
1738           Zona Industrial B - 1  ...                 [6388, 10519]
1739           Zona Industrial B - 4  ...                       [19020]

[1740 rows x 3 columns]

In [21]:
#Agrupación por Rutas, se muestran las paradas de cada Ruta

RutasListParadasTM = DataSetTM.groupby('Ruta',as_index=False).agg(list)
RutasListParadasTM

                           Ruta  ...                                           Posición
0    [1001] 1-4 CORTIJO PICO V3  ...  [0, 3857, 4140, 4524, 4769, 5117, 5511, 5905, ...
1                [1042] 10-5 C   ...                          [0, 750, 832, 1072, 3601]
2               [1043] 10-5 V.3  ...        [0, 750, 832, 1072, 2671, 3184, 3524, 5155]
3             [1055] 5 Calle 22  ...  [0, 2186, 2964, 4162, 4910, 5536, 6268, 6655, ...
4          [1056] 5 P. Américas  ...  [0, 986, 1482, 2447, 2867, 3518, 3993, 4596, 5...
..                          ...  ...                                                ...
222         [843] G45 SAN MATEO  ...                  [0, 1364, 2181, 2840, 3549, 4407]
223        [844] G45 PORTAL SUR  ...             [0, 281, 1146, 1854, 2519, 3281, 5043]
224         [884] 1-1 ÁLAMOS V2  ...  [0, 899, 1204, 1532, 2831, 3005, 3556, 3944, 5...
225   [982] F29 PORTAL AMERICAS  ...  [0, 881, 6851, 7503, 7861, 12612, 13757, 16782...
226      [983] C29 PORTAL SUBA   ...  [0, 2039, 2906, 5066, 15428, 16023, 18972, 201...

[227 rows x 3 columns]

In [15]:
#Cambio de nombre de Columnas a nombres más dicientes.

RutasListParadasTM = RutasListParadasTM.rename(columns={'Posición': 'Position','Nombre Nodo':'ListaParadas'})
EstacionesListRutasTM = EstacionesListRutasTM.rename(columns={'Nombre Nodo': 'Estacion','Ruta':'Rutas'})

#### Tratamiento de datos.
***
Se observo que los datos no estan limpios para ser introduciodos en la aplicación (Tienen datos inecesarios como un codigo al principio o estaciones de partida). Se procedió a hacer una limpieza de datos para que unicamente aparecieran el identificador de la Ruta (Ejm: K16,B23,F14). 

Además se observo que las estaciones también estaban separadas por vagones y por sentido, esto es importante para posteriores versiones del proyecto pero por ahora solo queremos que se separen por una unica estación, se procedio a 
limpiar estos datos también.

#### Tratamiento a las Rutas
***

In [22]:
#Se hace un list Comprehension a la lista de Rutas, se eliminan los numeros y corchetes que aparecen al principio

RutasListParadasTM['Ruta'] = pd.Series([route.lstrip("[0123456789]") for route in RutasListParadasTM['Ruta']]) 
#lstrip Elimina los caracteres que se encuentran a la izquierda y que coinciden con el input.
#------------------------------------------------------------------------------------------------------------------#
#Otra forma de hacerlo.
RutasListParadasTM['Ruta'] = RutasListParadasTM['Ruta'].str.lstrip("[0123456789]")

RutasListParadasTM

                     Ruta  ...                                           Posición
0     1-4 CORTIJO PICO V3  ...  [0, 3857, 4140, 4524, 4769, 5117, 5511, 5905, ...
1                 10-5 C   ...                          [0, 750, 832, 1072, 3601]
2                10-5 V.3  ...        [0, 750, 832, 1072, 2671, 3184, 3524, 5155]
3              5 Calle 22  ...  [0, 2186, 2964, 4162, 4910, 5536, 6268, 6655, ...
4           5 P. Américas  ...  [0, 986, 1482, 2447, 2867, 3518, 3993, 4596, 5...
..                    ...  ...                                                ...
222         G45 SAN MATEO  ...                  [0, 1364, 2181, 2840, 3549, 4407]
223        G45 PORTAL SUR  ...             [0, 281, 1146, 1854, 2519, 3281, 5043]
224         1-1 ÁLAMOS V2  ...  [0, 899, 1204, 1532, 2831, 3005, 3556, 3944, 5...
225   F29 PORTAL AMERICAS  ...  [0, 881, 6851, 7503, 7861, 12612, 13757, 16782...
226      C29 PORTAL SUBA   ...  [0, 2039, 2906, 5066, 15428, 16023, 18972, 201...

[227 rows x 3 columns]

In [29]:
#Se hace algo parecido para eliminar el punto de partida de la ruta que se encuentra al final del String. Se eliminan también espacios.
alphabet = "ABCDEFGHIJKLMNOPQRSTUVWXYZ "
RutasListParadasTM['Ruta'] = pd.Series([route.rstrip(alphabet+alphabet.lower()) for route in RutasListParadasTM['Ruta']])
#lstrip Elimina los caracteres que se encuentran a la derecha y que coinciden con el input.
#------------------------------------------------------------------------------------------------------------------#
#Otra forma de hacerlo.
RutasListParadasTM['Ruta'] = RutasListParadasTM['Ruta'].str.rstrip(alphabet+alphabet.lower())

RutasListParadasTM

                     Ruta  ...                                           Posición
0     1-4 CORTIJO PICO V3  ...  [0, 3857, 4140, 4524, 4769, 5117, 5511, 5905, ...
1                    10-5  ...                          [0, 750, 832, 1072, 3601]
2                10-5 V.3  ...        [0, 750, 832, 1072, 2671, 3184, 3524, 5155]
3              5 Calle 22  ...  [0, 2186, 2964, 4162, 4910, 5536, 6268, 6655, ...
4                5 P. Amé  ...  [0, 986, 1482, 2447, 2867, 3518, 3993, 4596, 5...
..                    ...  ...                                                ...
222                   G45  ...                  [0, 1364, 2181, 2840, 3549, 4407]
223                   G45  ...             [0, 281, 1146, 1854, 2519, 3281, 5043]
224         1-1 ÁLAMOS V2  ...  [0, 899, 1204, 1532, 2831, 3005, 3556, 3944, 5...
225                   F29  ...  [0, 881, 6851, 7503, 7861, 12612, 13757, 16782...
226                   C29  ...  [0, 2039, 2906, 5066, 15428, 16023, 18972, 201...

[227 rows x 3 columns]